@font-face {
    font-family: 'Eighty Starlight';
    src: url('EightyStarlight-Regular.woff2') format('woff2'),
        url('EightyStarlight-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eighty Starlight';
    src: url('EightyStarlight-Bold.woff2') format('woff2'),
        url('EightyStarlight-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eighty Starlight';
    src: url('EightyStarlight-Medium.woff2') format('woff2'),
        url('EightyStarlight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eighty Starlight';
    src: url('EightyStarlight-SemiBold.woff2') format('woff2'),
        url('EightyStarlight-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

